*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background: white;
}
nav{
	background: #144272;
	width: 100%;
	height: auto;
	position: fixed;
}
.container{
	padding: 5px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo h1 {
	color: white;
	font-weight: 900;
}
.navbar ul{
	display: flex;
	list-style: none;
}
.navbar ul li a{
	color: white;
	font-weight: 600;
	text-decoration: none;
	margin: 0 10px;
}
.navbar ul li a:hover{
	opacity: 0.7;
}
.tombol{
	display: none;
}
.tombol:hover{
	opacity: 0.7;
}

@media (max-width:750px){
	.navbar{
		background: #144172c0;
		width: 50%;
		height: auto;
		position: absolute;
		top: 55px;
		right: -200%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.5s;
	}
	.nyala{
		right: 10px;
	}
	.navbar ul {
		flex-direction: column;
		text-align: center;
	}
	.navbar ul li {
		margin: 25px 0;
	}
	.tombol{
		display: block;
	}
}

.loading {
    position: fixed;
    transform: matrix();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isi{
	width: 90%;
	margin: 0 auto;
}

.isi:after{
	content: " ";
	display: block;
	clear: both;
}

.pc {
	width: 20px;
	height: 20px;
	background-position: center;
}

footer{
	margin-top: 5px;
	padding: 20px 0;
	background-color: #144272;
	color: #fff;
}

.image{
	width: 80%;
}